.card {
    width: 156px;
}

.card_img-image {
    width: 156px;
    height: 210px;
    margin-bottom: 8px;
}

.card_info-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.card_info-address, .card_info-time {
    font-size: 10px;
    font-family: OpenSansRegular;
    font-weight: lighter;
}

.card_info-address{
    color: #838690;
    margin-bottom: 4px;
}

.card_info-time{
    color: #B5B7BD;
    margin-bottom: 8px;
}

.card_info-price {
    font-size: 18px;
    font-family: OpenSansBold;
}

.long_img {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 325px;
    height: 53px;
}

/* Premium */

.premium_card {
    width: 325px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.premium_card-img {
    width: 325px;
    height: 189px;
}

.premium_card-title {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.premium_card-address {
    font-size: 10px;
    color: #838690;
    margin-bottom: 4px;
}

.premium_card-time {
    font-size: 10px;
    color: #B5B7BD;
    margin-bottom: 8px;
}

.premium_card-price {
    font-size: 18px;
}

/* Vip */

.vip_card {
    margin-top: 40px;
}

.vip_card-img {
    width: 325px;
    height: 199px;
    border-radius: 10px;
    margin-bottom: 25px;
}

