.myCard + .myCard::before {
    display: block;
    content: '';
    background-color: rgba(181, 183, 189, 1);
    width: 100%;
    height: 1px;
    opacity: 0.3;
    margin-bottom: 30px;
}

.myCard {
    position: relative;
    margin-bottom: 30px;
    z-index: 0;
}

.myCard_img-image {
    width: 111px;
    height: 149px;
    border-radius: 20px;
    margin-right: 15px;
}

.myCard_info-dop {
    width: 180px;
}

.myCard_info-type {
    color: rgba(181, 183, 189, 1);
    font-family: OpenSansSemiBold;
}

.myCard_info-main {
    margin-top: 12px;
}

.myCard_info-title {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: OpenSansSemiBold;
}

.myCard_info-price {
    font-size: 18px;
    font-family: OpenSansBold;
}

.myCard_info-icons {
    margin-top: 8px;
}

.myCard_info-icon {
    margin-right: 7px;
}



