.carousel-container {
    position: relative;
    width: 325px; /* Размер карусели */
    margin: 50px auto;
    overflow: hidden;
}
.carousel-container .dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-container .prev {
    position: absolute;
    font-size: 32px;
    padding: 20px;
    left: -10px;
    top: calc(50% - 26px);
}
.carousel-container .next {
    position: absolute;
    font-size: 32px;
    padding: 20px;
    right: -10px;
    top: calc(50% - 26px);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 1300px;
}

.panel {
    width: 325px;
    height: 427px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.content {
    padding: 20px;
}
